<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOsnujzwMxGkBr_AGXc8fv4cfBz0uPIpc</string>
	<key>GCM_SENDER_ID</key>
	<string>644403723677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceriesStore</string>
	<key>PROJECT_ID</key>
	<string>groceries-store-20580</string>
	<key>STORAGE_BUCKET</key>
	<string>groceries-store-20580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644403723677:ios:c2ec220a6f800c8e4a0374</string>
</dict>
</plist>